<h1>Welcome to number to words!</h1>
<form action="/title">
  <div class="form-group">
     <label for="title">Add your number and click below to see the result!
</label>
     <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
